In [1]:
import pandas as pd

data = pd.read_csv("C:/Users/DINH KHANH VY/Desktop/Personal Project/TEST DA/data.csv", encoding='ISO-8859-1')

print(data.head(5))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

        InvoiceDate  UnitPrice  CustomerID         Country
0  12/01/2010 08:26       2.55     17850.0  United Kingdom
1  12/01/2010 08:26       3.39     17850.0  United Kingdom
2  12/01/2010 08:26       2.75     17850.0  United Kingdom
3  12/01/2010 08:26       3.39     17850.0  United Kingdom
4  12/01/2010 08:26       3.39     17850.0  United Kingdom

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

**Nhận xét**: Cột InvoiceDate đang chứa giá trị 12/13/2010 9:02 (tháng trước ngày sau), và không phải kiểu dữ liệu datetime

**Cách xử lý**: Đổi kiểu dữ liệu sang datetime với định dạng 'MM/dd/yyyy HH:mm', sau đó đổi định dạng thành 'dd/MM/yyyy HH:mm:ss'

In [7]:
# Chuyển đổi cột InvoiceDate sang kiểu datetime với định dạng 'MM/dd/yyyy HH:mm'
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Đổi định dạng thành 'dd/MM/yyyy HH:mm:ss'
data['InvoiceDate'] = data['InvoiceDate'].dt.strftime('%d/%m/%Y %H:%M:%S')

# Kiểm tra kết quả
print(data['InvoiceDate'].head(5))

0    01/12/2010 08:26:00
1    01/12/2010 08:26:00
2    01/12/2010 08:26:00
3    01/12/2010 08:26:00
4    01/12/2010 08:26:00
Name: InvoiceDate, dtype: object

In [9]:
# Chuyển đổi cột CustomerID từ float thành chuỗi
data['CustomerID'] = data['CustomerID'].astype('Int64').astype(str)

# Kiểm tra kết quả
print(data['CustomerID'].head(5))

0    17850
1    17850
2    17850
3    17850
4    17850
Name: CustomerID, dtype: object

In [13]:
# Tính tỉ lệ các giá trị null trong cột CustomerID
null_count = data['CustomerID'].isnull().sum()
total_count = data.shape[0]
null_ratio = null_count / total_count

# In tỉ lệ null
print(f"Ratio of missing CustomerID: {null_ratio:.2%}")

Ratio of missing CustomerID: 0.00%

**Nhận xét**
- Tỉ lệ CustomerId null khá cao (khoảng 25%)
- Một số lí do:
+ Lỗi hệ thống: Có thể do dữ liệu không được nhập đúng hoặc không đầy đủ.
+ Khách hàng ẩn danh: Một số giao dịch có thể không yêu cầu đăng ký tài khoản (như khách hàng thanh toán nhanh không đăng nhập).
+ Dữ liệu bị thiếu: Có thể bị mất trong quá trình thu thập hoặc xử lý dữ liệu.

In [18]:
# Đếm số lượng distinct InvoiceNo có Quantity <= 0
count_quantity_invalid = data[data['Quantity'] <= 0]['InvoiceNo'].nunique()

# Tính tỷ lệ
total_invoice_count = data['InvoiceNo'].nunique()
ratio_quantity_invalid = count_quantity_invalid / total_invoice_count
print(f"Count of InvoiceNo with Quantity <= 0: {count_quantity_invalid}")
print(f"Ratio of InvoiceNo with Quantity <= 0: {ratio_quantity_invalid:.4f}")

Count of InvoiceNo with Quantity <= 0: 5172
Ratio of InvoiceNo with Quantity <= 0: 0.1997

In [20]:
# Đếm số lượng distinct InvoiceNo có UnitPrice <= 0
count_unitprice_invalid = data[data['UnitPrice'] <= 0]['InvoiceNo'].nunique()

# Tính tỷ lệ
ratio_unitprice_invalid = count_unitprice_invalid / total_invoice_count

print(f"Count of InvoiceNo with UnitPrice <= 0: {count_unitprice_invalid}")
print(f"Ratio of InvoiceNo with UnitPrice <= 0: {ratio_unitprice_invalid:.4f}")

Count of InvoiceNo with UnitPrice <= 0: 2157
Ratio of InvoiceNo with UnitPrice <= 0: 0.0833

In [22]:
# Loại bỏ các dòng có Quantity <= 0 hoặc UnitPrice <= 0
data = data[(data['Quantity'] > 0) & (data['UnitPrice'] > 0)]
# Kiểm tra kết quả
print(f"Data shape after cleaning: {data.shape}")

Data shape after cleaning: (530104, 8)

In [24]:
data.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/2010 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/2010 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/2010 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/2010 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/2010 08:26:00,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,01/12/2010 08:26:00,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,01/12/2010 08:26:00,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,01/12/2010 08:28:00,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,01/12/2010 08:28:00,1.85,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,01/12/2010 08:34:00,1.69,13047,United Kingdom

In [26]:
# Thay thế tất cả giá trị \"RED WOOLLY HOTTIE WHITE HEART.\" thành \"RED WOOLLY HOTTIE WHITE HEART\" trong cột Description
data['Description'] = data['Description'].replace("RED WOOLLY HOTTIE WHITE HEART.", "RED WOOLLY HOTTIE WHITE HEART")

# Kiểm tra kết quả
print(data['Description'].head(5))

0     WHITE HANGING HEART T-LIGHT HOLDER
1                    WHITE METAL LANTERN
2         CREAM CUPID HEARTS COAT HANGER
3    KNITTED UNION FLAG HOT WATER BOTTLE
4          RED WOOLLY HOTTIE WHITE HEART
Name: Description, dtype: object

In [28]:
data.to_csv("C:/Users/DINH KHANH VY/Desktop/Personal Project/TEST DA/cleaned_data.csv", index=False)

#Import cleaned_data vào Power BI để tạo dashboard